*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efd3f3;
  font-family: "Preahvihear";
  position: relative;
}
.navbar {
  background-color: #ce93d8;
}
.dropdown-menu{
  background-color: #daa3e4;
}
.ancor-links{
  text-decoration: none;
  color: black;
}
/* Sticky header */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Center alignment */
.navbar .mx-auto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #ce93d8;
  color: rgb(0, 0, 0);
}

@media (max-width: 410px) {
  .balloon-container .balloon{
    width: 30px;
    height: 50px;
  }
}